.page-header {
    width: 40;
    text-align: center;
    font-size: "100px";
    /* text-decoration: underline; */
    color: black;
    margin-bottom: 5px;
    /* background-color:blue; */
    /* background-image: url("./employee.jpeg"); */
    height:70px;
    background-color: white;
  }
  