.page-header {
    width: 100%;
    text-align: center;
    font-size: 3rem;
    text-decoration: underline;
    color: white;
    margin-bottom: 50px;
    /* background-color:blue; */
    /* background-image: url("./employee.jpeg"); */
    height:200px;
  }
  